body {
  font-family: 'VRC Terminal', monospace;
  background: #000000 !important;
  color: #ffffff;
  padding: 60px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

label {
  display: block;
  margin-bottom: 14px;
  width: 100%;
}

input {
  text-transform: uppercase;
}

input, select {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background: #222222;
  border: 2px solid #444444;
  padding: 6px;
  display: block;
  margin: 0;
  margin-top: 4px;
  width: 100% !important;
  box-sizing: border-box;
}

input:focus, select:focus {
  outline: none;
  border: 2px solid #ffffff;
}

select {
  cursor: pointer;
}